// Main Stylesheet

// Color Palette

// Typography

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}




// MY STYLING ..................................................................................................



iframe {
    display: block;
   
}

/* Lettering styling*/

h1 {
    color: firebrick;
    font-size: 3em;
    text-align: center;
    font-family: 'Orbitron', sans-serif;

}

p {
    color: white;
    font-family: 'Ropa Sans', sans-serif;
    
}


//layout

.page {
    display: flex;
}

header,
section,
main,
article,
aside,
footer {
    flex: 1;
}