// Main Stylesheet

// Color Palette

// Typography

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
    
}




// MY STYLING ..................................................................................................



iframe {
    display: block;
   
}

/* Lettering styling*/

h1 {
    color: white;
    font-size: 3em;
    text-align: left;
    font-family: 'Orbitron', sans-serif;

}

h2 {
    color: white;
    letter-spacing: .5em;
    
}

h3 {
    color: white;
}

h4 {
    color: darkgray;
}

p {
    color: white;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.5em;
    
}

.copyright {
    float: right;
}

.alien {
    position: relative;
    float: right;
    
    top: -51px;
    left: 154px;
    height: 70%;
    width: 133%; 
    
    /* Mobile: 320px = 20em */
//    @media screen and (min-width: 20em) {
//        img {
//            display: none;
//        }
//    }
}

#rated {
    width: 98px;
    height: 40px;
    margin-top: 4em;
    float: left;
}




//layout

.page {
    display: flex;
    top: 100px;
}

header,
section,
main,
article,
aside,
footer {
    flex: 1;
}

// Overriding default styling .................................................................................
.mejs__time-total {
    background: rgba(255, 0, 0, 0.3);
}

.mejs__time {
    color: #fff;
    font-size: 1em;
}




//p {
//    color: indianred;
//    font-family: 'Ropa Sans', sans-serif;
//}